{% extends 'base.html' %}
{% block content %}

<h1>List of Spots in LA</h1>

{% for laspot in laspots %}
  <div class="card">
    <a href="{% url 'detail' laspot.id %}">
    </a>
    <div class="card-content">
      <span class="card-title">{{ laspot.name }}</span>
      <p>Breed: {{ laspot.breed }}</p>
      <p>Description: {{ laspot.description }}</p>
      {% if laspot.age > 0 %}
        <p>Age: {{ laspot.age }}</p>
      {% else %}
        <p>Age: Kitten</p>
      {% endif %}
    </div>
  </div>
   </a>
</div>
{% endfor %}

{% endblock %}
